.mainheader{
  display: flex;
  padding-top:1rem;
  justify-content: space-evenly;
  border-bottom: 0.2px solid lightgray;
  background-color: white;
}
.left_header{
  display: flex;
  flex-direction: row;
}

.left_header>img{
  object-fit: contain;
  
 
}
img{
  height: 40px;
  padding-right: 1em;
}
.search_header{
  padding: 8px;
  align-items: center;
  background-color: white;
  border-radius: 1px;
}